body{
    margin:0;
    font-family: Arial;
}

.container{
    display:flex;
    height:100vh;
}

.sidebar{
    width:200px;
    background:#ddd;
    padding:10px;
    border-right:5px solid #aaa;
}

#clearBtn{
    width:100%;
    padding:15px;
    font-size:20px;
    margin-bottom:15px;
}

#colors{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
}

.colorBox{
    width:100%;
    height:80px;
    border:2px solid black;
    cursor:pointer;
}

#grid{
    flex:1;
    display:grid;
    grid-template-columns: repeat(50, 1fr);
    background:#eee;
}

.square{
    border:1px solid #ccc;
    aspect-ratio:1;
}
